@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary-50: #fff7f2;
    --color-primary-100: #ffebdc;
    --color-primary-200: #ffd2a9;
    --color-primary-300: #ffb777;
    --color-primary-400: #ff9d4d;
    --color-primary-500: #ff7a1a;
    --color-primary-600: #e86809;
    --color-primary-700: #c75809;
    --color-primary-800: #9b4209;
    --color-primary-900: #6d2f09;
    --color-primary-950: #421d07;
}
